body {
    font-family: 'Raleway', sans-serif;
}

/* .bakground {
background-color: rgb(34, 185, 110);
  background-image: url('../event2.jpg');
  background-repeat: no-repeat;
  position: cover;
} */